<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/insertuser">Add New User</a>
    <table border="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Password</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <%
                a.forEach(element => {%>
                    <tr>
                        <td><%= element._id %></td>
                        <td><%= element.name %></td>
                        <td><%= element.email %></td>
                        <td><%= element.password %></td>
                        <td>
                            <a href="/updateuser/<%= element._id %>">Update</a>
                        </td>
                        <td><a href="/deleteuser/<%= element._id %>">Delete</a></td>
                    </tr>
                <%});
            %>
        </tbody>
    </table>
</body>
</html>